.header {
    position: absolute;
    z-index: 10;
    width: 100%;
    /* background-color: black; */
}

.link {
    position: relative;
    display: inline-block;
    text-align: start;
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background: currentColor;
    /* gunakan warna text */
    transition: width 0.3s ease;
}

.link:hover::after {
    width: 100%;
}